<!DOCTYPE html>
<html>
    <head>
        <div style="text-align:center">
            <h1>Bataille-web</h1>
        </div>
    </head>
    <body style="background-color:#0f898d;">
        <h1>{{user}}</h1>
        <div style="text-align:center">
            <h1> {{ winer }}, a gagné !!</h1>
            <h1>nombre de manche: {{ nbManche }}</h1>
            <form method="POST">
                <input type="submit"  value="Recommencer" name="submit"><br>
                <input type="submit"  value="Acceuil" name="submit"><br>
            </form>
        </div>
    </body>
</html>