<!DOCTYPE html>
<html>

<head>
    <div>
        <h1>BATTLE GAME</h1>
    </div>
</head>

<body style="background-image: url(../static/table.jpg);">
    <div>
        <h2> {{ Affiche }}</h2>
        <form method="POST">
            <input type="text" name="name" size="60" autocomplete="off" placeholder=" Enter an username"
                class="username"><br />
            <input type="submit" value="Play" name="submit" class="button button2"><br>
        </form>
    </div>
</body>
<footer>
    <div class="footer">
        @2022 Ynov Campus
    </div>
</footer>

</html>

<style>
    body {
        background-image: url(../static/table.jpg);
        text-align: center;

    }

    h1 {
        text-align: center;
        color: white;
        font-size: 150px;

    }

    h2 {
        color: white;
        font-size: 70pxpx;
    }


    .username {
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border: 2px solid red;
        border-radius: 12px;
        margin-bottom: 5px;
        margin-top: 100px;

    }

    .button {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border-radius: 12px;
        margin-bottom: 100px;

    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid red;
    }

    .button2:hover {
        background-color: red;
        color: white;
    }

    .footer {
        color: white;
        font-size: 10px;
        text-align: center;
        position: fixed;
        top: 770px;
        left: 650px
    }
</style>