<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="2">

<head>
    <div>
        <h1>BATTLE GAME</h1>
    </div>
</head>

<body style="background-image: url(../static/table.jpg);">
    <h4>{{ name }}</h4>
    <h3>connectés: {{ connectedPlayer[0] }}!</h3>
    <h2>Game ID: {{ idPartie }}</h2>
    <div style="text-align:center">
        <h5>Message: {{ message }}</h5>
        <div>
        </div>
        <h6>defausse: {{ defausse }}</h6>
        <div>
            <h1>{{carte}}</h1>
        </div>
        <h7>Carte: {{ carte }}</h7>
        <h8>Tas: {{ tas }}</h8>
        <form method="POST">
            <input type="submit" value="action" name="submit"><br>
            <input type="submit" value="Découvrir Cartes" name="submit"><br>
            <input type="submit" value="Abadonner" name="submit"><br>
            <input type="submit" value="retour" name="submit"><br>
        </form>
    </div>
</body>

<footer>
    <div class="footer">
        @2022 Ynov Campus
    </div>
</footer>

</html>

<style>
    body {
        background-color: green;
        text-align: center;

    }

    h1 {
        text-align: center;
        color: white;
        font-size: 150px;

    }

    h2 {
        text-align: left;
        color: white;
        font-size: 20px;
        position: relative;
        top: -100px;
    }
        .footer {
            color: white;
            font-size: 10px;
            text-align: center;
            position: fixed;
            top: 770px;
            left: 650px
        }
</style>