<!DOCTYPE html>
<html>

<head>
    <div>
        <h1>BATTLE GAME</h1>
    </div>
</head>

<body>
    <div>
        <h2>Welcome {{ name }}!</h2>
        <h3>Members connected:
            {% for o in UserList %}
            {{ o.Name }},
            {% endfor %}.
        </h3>
        <form method="POST">
            <input type="submit" value="Create Game" name="submit" class="button button2"><br>
            <input type="submit" value="Go Back" name="submit" class="button button2"><br>
        </form>
        <form method="POST">
            <input type="submit" value="Join" name="submit" class="button3 button2"><br>
            <div class="jojo">
                <span>Game you can join</span>
                <select name="comp_select" class="button4 button2">
                    {% for o in GameidList %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

    </div>
</body>
<footer>
    <div class="footer">
        @2022 Ynov Campus
    </div>
</footer>

</html>

<style>
    body {
        background-image: url('/Web_Game/static/table.jpg');
        background-color: green;
        text-align: center;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 150px;

    }

    h2 {
        color: white;
        font-size: 50px;
        text-align: center;
        position: relative;
        top: -70px;
    }

    h3 {
        color: white;
        font-size: 20px;
        font-weight: 1;
        text-align: center;
        position: relative;
        top: -70px;
    }

    .jojo {
        color: white;
        font-size: 40px;
        font-weight: 1;
        text-align: center;
        position: relative;
        top: -80px;
        left: 300px;
    }


    .username {
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border: 2px solid red;
        border-radius: 12px;
        margin-bottom: 5px;
        margin-top: 100px;

    }

    .button {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border-radius: 12px;
        margin-bottom: 5px;
        position: relative;
        left: -400px;

    }

    .button3 {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 40px;
        width: 41%;
        border-radius: 12px;
        margin-bottom: 5px;
        position: relative;
        left: 300px;
        top: -90px;

    }

    .button4 {
        color: white;
        text-align: center;
        text-decoration: grey;
        font-size: 20px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 30px;
        width: 200px;
        border-radius: 12px;
        margin-bottom: 5px;
        position: relative;


    }

    .button2 {
        background-color: white;
        color: black;
        border: 2px solid red;
    }

    .button2:hover {
        background-color: red;
        color: white;
    }

    .footer {
        color: white;
        font-size: 10px;
        text-align: center;
        position: fixed;
        top: 770px;
        left: 650px
    }
</style>